

<head>

</head>

<style>
    h1 {
        color: #ea4c88;
        text-decoration: underline;
        font-family: sans-serif;
    }

    h2 {
        color: #ea4c88;
        font-family: sans-serif;
    }
</style>

<body style="background-color:#606468;">
    <h1><center> You've got to know me  </center></h1>

    <div>
        <center> <img src="{{img.imageQr.url}}" alt="my image" /> </center>
    </div>


    <h2> <center> Check out my profile </center> </h2>
    <p><center><a href="{% url 'logout' %}">Log Out</a></center></p>
</body>